{% extends 'base.html.twig' %}

{% block title %}Liste Modo{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('moderateurListe') }}
{% endblock %}
{% block body %}
    <h1 class="text-center creamCakeFont darkPinkFont">Liste des modos:</h1>
    
    {% if not add is null %}
        <div class="alert alert-success" role="alert">
            L'ajout a été reussi, veuillez lui donnez le lien : localhost:8000/inscription/{{link}}
        </div>
    {% endif %}

    <table class="fondTransparent table-responsive">
        <thead class="creamCakeFont whiteFont">
            <th col col-4>pseudo</th>
            <th col col-4>role</th>
            <th col col-4>modifier</th>
            <th col col-4>supprimer</th>
        </thead>
        <tbody>
            {% for modo in modos %}
                <tr>
                    <td>{{ modo["pseudoModerateur"] }}</td>
                    {% if  modo["superModo"] == "1" %}
                        <td> Super Modo </td>
                    {% else %}
                        <td>Modo</td>
                    {% endif %}  
                    <td></td>
                    <td>
                        <button type="button" class="close" >
                            <span aria-hidden="Suppression">&times;</span>
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


    {% if  app.session.get('droit') %}
        <div class="container-login100-form-btn text-center">
			<a id="ajoutButton" href="{{path('ajoutModo')}}" class="btn btn-info" role="button">Ajouter Modérateur</a>
		</div>
    {% endif %}
    
{% endblock %}

{% block javascripts %}
	            <script src="{{ asset('js/deleteModerateur.js') }}"></script>
{% endblock %}

